<% content_for :head do %>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/assets/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/admin/jquery.flot.js"></script>
<%end%>

    <h1>Flot Examples</h1> 
    <%= @data.length %>->
    <% @data.bucket(1)%>
    <%= @data.length %>
    <div id="placeholder" style="width:600px;height:300px;"></div>

<script id="source">
$(function () {
    var d =  <%= @data.to_js %> ;
    $.plot($("#placeholder"), [d ], { series: {  bars:   { show: true , fill: true } } ,
                                      xaxis:  { mode: "time" }  
                                    });

});
</script>

